body {
    text-align: center;
    font-family: 'Bevan', serif;

}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(134, 255, 150);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 25px;
    text-align: center;
}

th {
    background-color: rgb(51, 228, 44);
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

table img {
    max-width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.text-right {
    text-align: right;
}


.time {
    text-align: center;
    color: green;
    margin-top: -6%;
    margin-bottom: 5%;
}

#logo {
    display: flex;
    flex-direction: row;
}

#logo img {
    width: 25%;
    margin-left: 10%;
}

.cabeca th {
    background-color: yellow;

}

span {
    color: #ffbf00;
}

table+h1 {
    color: #ffbf00;
    text-align: center;
    margin-top: 5%;
}

.menu{
    margin-left: -50px;
    margin-top: 3.5%;
    
    }
    .menu a{
        padding-right:100px;
    }
a {
    font-family: 'Bevan', serif;
    font-size: 20px;
    color: #4169E1;
    text-decoration: none;
    /*tirar o sublinhado do link*/
}

a:hover {
    color: red;
    transition: 0.5s all;
    /*esse efeito deixa a transição do hover mais lenta*/

}

a:active {
    color: #8de000;
    transition: 0.0s all;
    /*esse efeito deixa a transição do hover mais lenta*/

}

.oitavas {
    margin-left: 4%;
}

.oitavas a {
    font-size: 18px;
    color:#8de000;
    margin-right:40px;
}
.oitavas a:hover{
    color:red;
}
